.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 330px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  position: sticky;
  height: 50px;
  background: white;
}
